@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

body {
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
	background-color: #04243A;
	padding-top: 10px;
}

h1 {
	text-align: left;
	color: white;
	font-stretch: expanded;
	font-weight: normal;
	display: inline-block;
	margin-left: 5%;
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 52px;
}

.icon {
	float: right;
	height: 42px;
	margin-right: 5%;
	margin-bottom: 10px;
}

.item {
	background-color: #942928;
	width: 85%;
	margin: 0px auto 40px;
	padding: 25px;
	box-shadow: 0px 0px 3px 1px white;
	border-radius: 2px;
}

table {
	width: 100%;
	background-color: #f5f5f5;
	margin: 0px auto;
	padding: 10px;

	border-radius: 2px;
}

th {
	text-align: left;
	font-weight: normal;
	color: #7c7c7c;
	border-bottom: 1px #BA420D solid;
}

td {
	color: #04243A;
	font-weight: normal;
}

tr {
	height: 40px;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: inherit;
}
